defradb:
  url: "http://localhost:9182"
  keyring_secret: "overwritten by DEFRA_KEYRING_SECRET env variable"
  p2p:
    bootstrap_peers: ["/ip4/192.168.4.22/tcp/9176/p2p/12D3KooWPJhb6bkdoyUQvFAS7Q3ufz44b7GwD3X1k5mULiFbxZZv"]
    listen_addr: "/ip4/127.0.0.1/tcp/9172"
  store:
    path: "./.defra"

shinzo:
  minimum_attestations: 1
  web_socket_url: ws://localhost:26657/websocket

logger:
  development: true

host:
  lens_registry_path: "./.lens"
