defradb:
  url: "localhost:9182"
  keyring_secret: ""
  p2p:
    bootstrap_peers: ['/ip4/34.67.151.150/tcp/9171/p2p/12D3KooWM8LZVqDY42BWEdZeMpooi2FM6dqXgJ5raRHhDG6NyueV' ]
    listen_addr: "/ip4/0.0.0.0/tcp/0"
  store:
    path: "./.defra/data"
shinzo:
  minimum_attestations: 1
  web_socket_url: ws://34.29.171.79:26657/websocket

logger:
  development: true

host:
  lens_registry_path: "./.lens"


## In order to connect to an indexer you need to include it within your peers. \
#  You may want to add more peers to or replace the bootstrap_peers array.
#  bootstrap_peers:['/ip4/34.67.151.150/tcp/9171/p2p/12D3KooWM8LZVqDY42BWEdZeMpooi2FM6dqXgJ5raRHhDG6NyueV' ]
