defradb:
  url: "localhost:9181"
  keyring_secret: ""
  p2p:
    bootstrap_peers: 
     # - '/ip4/34.30.60.55/tcp/9171/p2p/12D3KooWBBeucFveKxPV2PbzXi56ijtXKkiRmTRbb9ELUcEREK4s'
     - '/ip4/136.112.206.228/tcp/9171/p2p/12D3KooWC2A7oX3zq3QLrL3NhrrSrLSxMArHRWQPCZGqF3XzPAYv'
    listen_addr: "/ip4/0.0.0.0/tcp/0"
  store:
    path: "./.defra/data"
shinzo:
  minimum_attestations: 1
  web_socket_url: #ws://localhost:26657/websocket

logger:
  development: true

host:
  lens_registry_path: "./.lens"


## In order to connect to an indexer you need to include it within your peers. \
#  To do that copy the bootstrap_peers and paste it replacing the empty array.
#  bootstrap_peers:['/ip4/34.68.131.15/tcp/9171/p2p/12D3KooWQ4n6rniwBosrPRHnAR4kjJCjajsNKMDX7P4CuqzrB3xW' ]
