defradb:
  url: "0.0.0.0:9181"
  keyring_secret: ""
  p2p:
    bootstrap_peers: ['/ip4/136.115.148.56/tcp/9171/p2p/12D3KooWFjtA7yDgXXmgXi22EuoayGcgE2wEftSpJwcLRtgDLD9J' ]
    listen_addr: "/ip4/0.0.0.0/tcp/0"
  store:
    path: "./.defra/data"
shinzo:
  minimum_attestations: 1
  web_socket_url: ws://34.29.171.79:8546

logger:
  development: true

host:
  lens_registry_path: "./.lens"


## In order to connect to an indexer you need to include it within your peers. \
#  To do that copy the bootstrap_peers and paste it replacing the empty array.
