defradb:
  url: "localhost:9181"
  keyring_secret: "pingpong"
  p2p:
    bootstrap_peers: ['/ip4/136.112.206.228/tcp/9171/p2p/12D3KooWC2A7oX3zq3QLrL3NhrrSrLSxMArHRWQPCZGqF3XzPAYv']
    listen_addr: "/ip4/0.0.0.0/tcp/0"
  store:
    path: "./.defra/data"
shinzo:
  minimum_attestations: 1
  start_height: 23500000
  # web_socket_url: ""  # Commented out to test without shinzohub connection

logger:
  development: true

host:
  lens_registry_path: "./.lens"
